<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle-Studio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/frontend.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- navbar-start -->

    <nav class="navbar">
        <div class="nav-wrapper">    
            <img src="{% static 'Image/Circle-removebg-preview.png' %}" class="brand-img" alt="">
            <form action="/search" method="post" style="margin-bottom: 25px;">
                {% csrf_token %}
                <input type="text" name="username" class="search-box" placeholder="search"><button style="position: absolute; top: 25; right: 480px; border: none; background: transparent; text-transform: none;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="nav-items">
                <a href="/"><i class="fa-solid fa-house icon"></i></a>
                <a href=""><i class="fa-sharp fa-solid fa-message icon"></i></a>
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" type="button"><i class="fa-sharp fa-solid fa-plus icon"></i></a>
                <a href=""><i class="fa-solid fa-heart icon"></i></a>
                
                <img class="icon user-profile" src="{{ user_profile.profileimg.url }}" data-bs-toggle="dropdown" aria-expanded="false"></img>      
                <ul class="dropdown-menu">
                    <li class="dropdown-item">Welcome @{{ user_profile.user }}</li>
                    <li><a class="dropdown-item" href="/profile/{{ user_profile.user }}">Profile</a></li>
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- navbar-end -->

    <!-- Section -->

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt=""></div>
                        <p class="username">Fazil-Thekkan</p>
                    </div>
                </div>
                {% for post in posts reversed %}
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{{ user_profile.profileimg.url }}" alt=""></div>
                            <p class="username"><a href="/profile/{{ post.user }}" style="color: black; cursor: pointer; text-decoration: none;">@{{ post.user }}</a></p>
                        </div>
                        <i class="fa-sharp fa-solid fa-caret-down options"></i>
                    </div>
                    <img src="{{ post.image.url }}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <a href="/like-post?post_id={{ post.id }}" onclick="change()" id="likebtn"  style="color: black;" ><i class="fa-solid fa-heart"></i></a>
                            <i class="fa-regular fa-comment"></i>
                            <i class="fa-regular fa-paper-plane"></i>
                            <a href="{{ post.image.url }}" download style="color: black;"><i class="fa-solid fa-download"></i></a>
                        </div>
                        {% if post.no_of_likes == 0 %}
                        <p class="likes">No Likes Yet</p>
                        {% elif post.no_of_likes == 1 %}
                        <p class="likes">{{ post.no_of_likes }} Person Liked</p>
                        {% else %}
                        <p class="likes">{{ post.no_of_likes }} Likes</p>
                        {% endif %}
                        <p class="description"><a href="" style="color: black; cursor: pointer; text-decoration: none;"><span>{{ post.user }}</span></a>{{ post.caption }}</p>
                        <p class="post-time">{{ post.crated_at }}</p>
                    </div>
                    <div class="comment-wrapper">
                        <i class="fa-sharp fa-solid fa-face-smile"></i>
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">Comment</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="right-col">
                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="{{ user_profile.profileimg.url }}" alt="">
                    </div>
                    <p class="username" style="margin: 0;">{{ user_profile.user }}</p>&nbsp;
                    <a href="/profile/{{ user_profile.user }}" style="padding: 0px 7px; background: rgb(0, 0, 0); color: #fafafa; border-radius: 3px; font-weight: 300; font-size: 12px; margin-left: 5px; text-decoration: none;">Profile</a>
                </div>
                <p class="suggestion-text">Suggestions for you</p>
                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="{% static 'Image/seth-doyle-vmBik4xv27s-unsplash.jpg' %}" alt="">
                    </div>
                    <p class="username" style="margin: 0;">Fazil</p>
                    <button class="action-btn" style="padding: 0px 8px; background: rgb(0, 0, 0); color: #fafafa; border-radius: 3px; font-weight: 400;">Follow</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Section-End -->

    <!-- Upload post Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New post</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'Upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">upload</label>
                  <input type="file" class="form-control" id="recipient-name" name="image">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Caption</label>
                  <textarea class="form-control" id="message-text" name="caption"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
        const change = () => {
            document.getElementById('likebtn').style.color='red';    
        }
    </script>
</body>
</html>